*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #202124;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

.right-align {
  text-align: right;
}

.link {
  text-decoration: none;
  color: #202124;
}

.link--blue {
  color: #1a73e8;
}

.link--article:hover {
  text-decoration: underline;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4rem;
}

.section__heading {
  font-weight: 500;
}

.news__list {
  padding: 0 2rem;
  color: #1a73e8;
}

.news__list h4 {
  font-size: 1.5rem;
  display: inline;
}

.news__list .list__item {
  margin-bottom: 2rem;
}

.link__img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  z-index: 1;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0;
}

.link__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-card {
  border: 1px solid #dadce0;
  border-radius: 10px;
  position: relative;
  margin-top: 2rem;
}

.news__header {
  padding: 1.6rem 13rem 1.6rem 2rem;
}

@media screen and (min-width: 768px) {
  .news__header h3 {
    font-size: 2.5rem;
  }
}

.header__source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.header__source small {
  margin-right: 0.5rem;
}

.header__source time {
  font-size: 1.2rem;
  color: inherit;
  opacity: 0.7;
}

.header__source time::before {
  font-size: 0.5625rem;
  content: "\0000a0\002022\0000a0";
  margin-right: 0.25rem;
}

.news__content {
  padding: 0 1.6rem;
}

.news__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1.6rem;
}

.news__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__content {
    margin-right: 13rem;
  }
}

@media screen and (min-width: 1024px) {
  .news__content {
    margin-right: 13rem;
  }
}

.search-bar {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0 0 5px 2px gray;
          box-shadow: 0 0 5px 2px gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #1a73e8;
}

.search-bar span {
  background-color: white;
  height: 32px;
  width: 32px;
  border-radius: 10px;
  display: -ms-grid;
  display: grid;
}

.search-bar span i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.form--input {
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .form--input {
    width: 494px;
  }
}

.input {
  padding: 1.5rem 4rem;
  outline: 0;
  border-radius: 10px;
  background-color: #f1f3f4;
  border: 0;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 3px 0px gray;
          box-shadow: 0 0 3px 0px gray;
  width: 100%;
}

.input::-webkit-input-placeholder {
  opacity: 0.5;
}

.input:-ms-input-placeholder {
  opacity: 0.5;
}

.input::-ms-input-placeholder {
  opacity: 0.5;
}

.input::placeholder {
  opacity: 0.5;
}

.input:focus {
  background-color: white;
}

.body {
  margin: 6rem auto 0;
  padding: 1.6rem 1.6rem 3.2rem;
  max-width: 768px;
}

@media screen and (min-width: 1024px) {
  .body {
    padding: 1.6rem 2.5rem 3.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
  font-size: 1.8rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #1a73e8;
  color: white;
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-top: none;
}

.page--title {
  padding: 3.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  padding-right: 1.6rem;
}

.header__icon {
  background-color: #8430c3;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  color: white;
  margin-right: 1.6rem;
}

.header__icon img {
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  border: none;
}

.header__text h2 {
  font-size: 2.8rem;
  font-weight: 600;
  color: #202124;
}

.btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 5.6rem;
}

.btn--link {
  margin-left: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 0;
  border: 0;
  border-radius: 50%;
  min-height: 3.2rem;
  min-width: 3.2rem;
  cursor: pointer;
  background: white;
  -webkit-box-shadow: 0 1px 4px 0 black;
          box-shadow: 0 1px 4px 0 black;
}

.btn--link:hover {
  -webkit-box-shadow: 0 1px 4px 1px black;
          box-shadow: 0 1px 4px 1px black;
}

.btn--link i {
  color: blue;
}

.btn--link span {
  margin: 0 3px;
  font-size: 1.6rem;
  display: none;
}

@media screen and (min-width: 560px) {
  .btn--link {
    padding: 0.8rem 1.8rem;
    border-radius: 1.6rem;
  }
  .btn--link span {
    display: block;
  }
}

.bar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.bar__link:hover {
  color: #1a73e8;
  background-color: #e3edfe;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.bar__link:hover .bar__icon {
  color: #1a73e8;
}

.bar__link:focus {
  background: rgba(66, 133, 244, 0.149);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #1a73e8;
}

.bar__link:focus .bar__icon {
  color: #1a73e8;
}

.bar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 1.6rem;
  color: #5f6368;
}

.bar__title {
  font-weight: 500;
}

/* The side navigation menu */
.sidenav {
  margin-top: 10rem;
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 3;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 0 0 10px 0 lightgray;
          box-shadow: 0 0 10px 0 lightgray;
}

@media screen and (min-width: 1024px) {
  .sidenav {
    width: 250px;
  }
}

.sidenav a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* The navigation menu links */
/* When you mouse over the navigation links, change their color */
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 15px;
  left: 25px;
  font-size: 36px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  max-width: 1140px;
}

@media screen and (min-width: 1024px) {
  #main {
    margin-left: 250px;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

#following {
  padding: 3.2rem 0;
}

#following .section-title h2 {
  font-weight: 700;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.8rem 0.5rem 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.accordion i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
}

.accordion i:hover {
  color: #1a73e8;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active.accordion i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.grid--column {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[12];
      grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px 0;
}

.side--news {
  border-radius: 10px;
  background-color: #f8f9fa;
  max-width: 350px;
  grid-column: span 12;
  white-space: normal;
}

.side--news__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3rem 0;
  margin: 0 1.6rem;
  border-bottom: 1px solid #dadce0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.side--news__title h2 {
  font-size: 1.6rem;
  color: #5f6368;
}

.side--news__title small {
  margin-top: 0.4rem;
  font-weight: 400;
  font-size: 1.4rem;
}

.side--news__content {
  padding: 4px 0;
}

.side__item {
  margin: 1.2rem 1.6rem;
  color: #202124;
}

.side__item a {
  text-decoration: none;
  color: #202124;
}

.side__item a:hover {
  text-decoration: underline;
}

.side__item h4 {
  font-size: 1.4rem;
  line-height: 1.4;
}

.side__item .news__header {
  padding: 0 72px 0 0;
  position: relative;
  margin-bottom: 3rem;
}

.side__item .news__header figure {
  width: 56px;
  height: 56px;
  top: 0;
  right: 0;
}

.side__item .news__header h4 {
  font-size: 1.4rem;
  line-height: 1.4;
}

.item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.8rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #202124;
}

.item__footer .source {
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.7;
}
/*# sourceMappingURL=styles.css.map */