*,
*::after,
*::before {
    box-sizing: border-box;
}

$color-body: rgb(32, 33, 36);
$color-blue: rgb(26, 115, 232);
$color-inactive: #5f6368;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin flex-space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-align {
    display: flex;
    align-items: center;
}

@mixin mobile {
    @media screen and (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin tabletanddesktop {
    @media screen and (min-width: #{$tablet-width}) {
        @content;
    }
}

// Typography
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: $color-body;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

.right-align {
    text-align: right;
}

// Links
.link {
    text-decoration: none;
    color: $color-body;
}

.link--blue {
    color: $color-blue;
}

.link--article {
    &:hover {
        text-decoration: underline;
    }
}

// Section title
.section-title {
    @include flex-space_between();
    margin-top: 2.4rem;
}

.section__heading {
    font-weight: 500;
}

// News content
.news__list {
    padding: 0 2rem;
    color: $color-blue;
    // margin-top: 1.6rem;
    // margin-bottom: 0;
    // list-style-position: outside;
    // display: inline;
    // list-style: disc;
    h4 {
        font-size: 1.5rem;
        display: inline;
    }

    .list__item {
        margin-bottom: 2rem;
    }
}

// Link images
.link__img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: auto;
    left: auto;
    z-index: 1;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0;
}

// News card
.news-card {
    border: 1px solid #dadce0;
    border-radius: 10px;
    position: relative;
    margin-top: 2rem;
}

.news__header {
    padding: 1.6rem 13rem 1.6rem 2rem;

    @include tabletanddesktop() {
        h3 {
            font-size: 2.5rem;
        }
    }
}

.header__source {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    small {
        margin-right: 0.5rem;
    }

    time {
        font-size: 1.2rem;
        color: inherit;
        opacity: 0.7;
        &::before {
            font-size: 0.5625rem;
            content: "\0000a0\002022\0000a0";
            margin-right: 0.25rem;
        }
    }
}

.news__content {
    padding: 0 1.6rem;
    // margin-right: 13rem;
}

.news__footer {
    display: flex;
    a {
        @include flex-center();
        margin: 1rem 1.6rem;
    }
}

.news__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.8rem;
}

.news__content {
    @include tablet() {
        margin-right: 13rem;
    }
    @include desktop() {
        margin-right: 13rem;
    }
}

// Search bar
.search-bar {
    padding: 1rem;
    @include flex-center();
    border-bottom: 1px solid gray;
    box-shadow: 0 0 5px 2px gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: $color-blue;

    span {
        background-color: white;
        height: 32px;
        width: 32px;
        border-radius: 10px;
        display: grid;

        i {
            align-self: center;
            justify-self: center;
        }
    }
}

.form--input {
    width: 50%;

    margin: 0 auto;
    @include desktop() {
        width: 494px;
    }
}

.input {
    padding: 1.5rem 4rem;
    outline: 0;
    border-radius: 10px;
    background-color: #f1f3f4;
    border: 0;
    font-size: 1.5rem;
    transition: 0.3s;
    box-shadow: 0 0 3px 0px gray;
    width: 100%;

    &::placeholder {
        opacity: 0.5;
    }

    &:focus {
        background-color: white;
    }
}

// Body content
.body {
    margin: 6rem auto 0;
    padding: 1.6rem 1.6rem 3.2rem;
    max-width: 768px;
    @include desktop() {
        padding: 1.6rem 2.5rem 3.2rem;
    }
}

// Grid
@mixin grid($gridrow, $gridcol) {
    display: grid;
    grid-template-rows: $gridrow;
    grid-template-columns: $gridcol;
}

@include desktop() {
    .grid--1x2 {
        @include grid(unset, 1fr 3fr);
    }
}

// Tabs
/* Style the tab */
.tab {
    overflow: hidden;
    // border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    // margin-bottom: 1rem;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 2rem;
    transition: 0.3s;
    font-weight: 500;
    // color: $color-inactive;
    font-size: 1.8rem;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: $color-blue;
    color: white;
}

/* Style the tab content */
.tabcontent {
    display: none;
    // padding: 6px 12px;
    // border: 1px solid #ccc;
    border-top: none;
}

// * Page title
.page--title {
    padding: 3.2rem 0;
    @include flex-center-align();
    flex-wrap: wrap;
}

.page__header {
    @include flex-center-align();
    flex-grow: 1;
    flex-shrink: 1;
    padding-right: 1.6rem;
}

.header__icon {
    background-color: #8430c3;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    color: white;
    margin-right: 1.6rem;

    img {
        background-size: contain;
        object-fit: contain;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.header__text {
    h2 {
        font-size: 2.8rem;
        font-weight: 600;
        color: #202124;
    }
}

// * Buttons
.btn--container {
    @include flex-center-align();
    flex-grow: 0;
    flex-shrink: 0;
    height: 5.6rem;
}

.btn--link {
    margin-left: 1.2rem;
    @include flex-center();

    outline: 0;
    border: 0;
    border-radius: 50%;
    min-height: 3.2rem;
    min-width: 3.2rem;
    cursor: pointer;
    background: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 16%);
    &:hover {
        box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 26%);
    }
    i {
        color: blue;
    }

    span {
        margin: 0 3px;
        font-size: 1.6rem;
        display: none;
    }
    @media screen and (min-width: 560px) {
        padding: 0.8rem 1.8rem;
        span {
            display: block;
        }
        border-radius: 1.6rem;
    }
}

// ! Side nav
.bar__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    &:hover {
        color: $color-blue;
        .bar__icon {
            color: $color-blue;
        }
        background-color: #e3edfe;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    &:focus {
        background: rgba(66, 133, 244, 0.149);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: $color-blue;
        .bar__icon {
            color: $color-blue;
        }
    }
}

.bar__icon {
    @include flex-center();
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 1.6rem;
    color: $color-inactive;
}

.bar__title {
    font-weight: 500;
}

/* The side navigation menu */
.sidenav {
    margin-top: 10rem;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 3; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px 0 lightgray;

    @include desktop() {
        width: 250px;
    }

    a {
        text-decoration: none;
        transition: 0.3s;
    }
}

/* The navigation menu links */
// .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: #818181;
//     display: block;
//     transition: 0.3s;
// }

/* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//     color: #f1f1f1;
// }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 36px;
    // margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left 0.5s;
    // padding: 20px;
    max-width: 1140px;
    @include desktop() {
        margin-left: 250px;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

// ! Following
#following {
    .section-title {
        h2 {
            font-weight: 700;
        }
    }
    // margin-top: 2.4rem;
    padding: 3.2rem 0;
}

// ! Accordion
/* Style the buttons that are used to open and close the accordion panel */

.accordion {
    @include flex-space_between();
    // background-color: #eee;
    // color: #444;
    // cursor: pointer;
    padding: 0.5rem 1.8rem 0.5rem 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;

    i {
        &:hover {
            color: $color-blue;
        }
        transform: rotate(0deg);
        transition: transform 0.3s;
        cursor: pointer;
    }
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

// .active,
// .accordion:hover {
//     background-color: #ccc;
// }

.active.accordion {
    i {
        transform: rotate(180deg);
    }
}
// .active.accordion:after {
//     content: "\9660"; /* Unicode character for "minus" sign (-) */
// }

// .accordion:after {
//     content: "\02795"; /* Unicode character for "plus" sign (+) */
//     font-size: 13px;
//     color: #777;
//     float: right;
//     margin-left: 5px;
// }

/* Style the accordion panel. Note: hidden by default */
.panel {
    // padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

// ! Side--news
.grid--column {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 16px 0;
}

.side--news {
    border-radius: 10px;
    background-color: #f8f9fa;
    max-width: 350px;
    grid-column: span 12;
    white-space: normal;
}

.side--news__title {
    display: flex;
    padding: 1.3rem 0;
    margin: 0 1.6rem;
    border-bottom: 1px solid #dadce0;
    flex-direction: column;
    flex: 1 1 auto;

    h2 {
        font-size: 1.6rem;
        color: #5f6368;
    }

    small {
        margin-top: 0.4rem;
        font-weight: 400;
        font-size: 1.4rem;
    }
}

.side--news__content {
    padding: 4px 0;
}

.side__item {
    margin: 1.2rem 1.6rem;
    color: #202124;

    a {
        text-decoration: none;
        color: #202124;
        &:hover {
            text-decoration: underline;
        }
    }

    h4 {
        font-size: 1.4rem;
        line-height: 1.4;
    }

    .news__header {
        padding: 0 72px 0 0;
        position: relative;
        margin-bottom: 3rem;

        figure {
            width: 56px;
            height: 56px;
            top: 0;
            right: 0;
        }

        h4 {
            font-size: 1.4rem;
            line-height: 1.4;
        }
    }
}

.item__footer {
    @include flex-center-align();
    justify-content: flex-start;
    padding: 0.8rem 0;
    flex-wrap: wrap;
    color: #202124;

    .source {
        font-size: 1.2rem;
        display: inline-block;
        margin-right: 5px;
        opacity: 0.7;
    }
}
