*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: #202124;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.body {
  margin-top: 6rem;
  padding: 1.6rem 1.6rem 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

.right-align {
  text-align: right;
}

.link {
  text-decoration: none;
  color: #202124;
}

.link--blue {
  color: #1a73e8;
}

.link--article:hover {
  text-decoration: underline;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.4rem;
}

.section__heading {
  font-weight: 500;
}

.news__list {
  padding: 0 2rem;
  color: #1a73e8;
  gap: 2rem;
}

.news__list h4 {
  font-size: 1.5rem;
}

.news__list .list__item {
  margin-bottom: 2rem;
}

.link__img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  z-index: 1;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 8px;
  margin: 0;
}

.link__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-card {
  border: 1px solid #dadce0;
  border-radius: 10px;
  position: relative;
  margin-top: 2rem;
}

.news__header {
  padding: 1.6rem 13rem 1.6rem 1.6rem;
}

.header__source {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1rem;
}

.header__source small {
  margin-right: 0.5rem;
}

.header__source time {
  font-size: 1.2rem;
  color: inherit;
  opacity: 0.7;
}

.header__source time::before {
  font-size: 0.5625rem;
  content: "\0000a0\002022\0000a0";
  margin-right: 0.25rem;
}

.news__content {
  padding: 0 1.6rem;
}

.news__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1.6rem;
}

.news__icon {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.8rem;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__content {
    margin-right: 13rem;
  }
}

@media screen and (min-width: 1024px) {
  .news__content {
    margin-right: 13rem;
  }
}

.search-bar {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 0 0 5px 2px gray;
          box-shadow: 0 0 5px 2px gray;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: #1a73e8;
}

.form--input {
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .form--input {
    width: 494px;
  }
}

.input {
  padding: 1.5rem 4rem;
  outline: 0;
  border-radius: 10px;
  background-color: #f1f3f4;
  border: 0;
  font-size: 1.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 3px 0px gray;
          box-shadow: 0 0 3px 0px gray;
  width: 100%;
}

.input::-webkit-input-placeholder {
  opacity: 0.5;
}

.input:-ms-input-placeholder {
  opacity: 0.5;
}

.input::-ms-input-placeholder {
  opacity: 0.5;
}

.input::placeholder {
  opacity: 0.5;
}

.input:focus {
  background-color: white;
}

.side-bar {
  max-width: 260px;
  display: none;
  margin-top: 10rem;
}

@media screen and (min-width: 1024px) {
  .side-bar {
    display: block;
  }
}

.bar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.bar__link:hover {
  color: #1a73e8;
}

.bar__link:hover .bar__icon {
  color: #1a73e8;
}

.bar__link:focus {
  background: rgba(66, 133, 244, 0.149);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: #1a73e8;
}

.bar__link:focus .bar__icon {
  color: #1a73e8;
}

.bar__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  margin: 0 1.6rem;
  color: #5f6368;
}

.bar__title {
  font-weight: 500;
}

.body {
  max-width: 768px;
}

@media screen and (max-width: 480px) {
  .body {
    margin: 6rem auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .body {
    margin: 6rem auto;
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
  }
}
/*# sourceMappingURL=styles.css.map */