*,
*::after,
*::before {
    box-sizing: border-box;
}

$color-body: rgb(32, 33, 36);
$color-blue: rgb(26, 115, 232);
$color-inactive: #5f6368;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin flex-space_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin mobile {
    @media screen and (max-width: #{$mobile-width}) {
        @content;
    }
}
@mixin tablet {
    @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

// Typography
html {
    font-size: 62.5%;
}

body {
    color: $color-body;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

.body {
    margin-top: 6rem;
    padding: 1.6rem 1.6rem 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

.right-align {
    text-align: right;
}

// Links
.link {
    text-decoration: none;
    color: $color-body;
}

.link--blue {
    color: $color-blue;
}

.link--article {
    &:hover {
        text-decoration: underline;
    }
}

// Section title
.section-title {
    @include flex-space_between();
    margin-top: 2.4rem;
}

.section__heading {
    font-weight: 500;
}

// News content
.news__list {
    padding: 0 2rem;
    color: $color-blue;
    gap: 2rem;

    h4 {
        font-size: 1.5rem;
    }

    .list__item {
        margin-bottom: 2rem;
    }
}

// Link images
.link__img {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    bottom: auto;
    left: auto;
    z-index: 1;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0;
}

// News card
.news-card {
    border: 1px solid #dadce0;
    border-radius: 10px;
    position: relative;
    margin-top: 2rem;
}

.news__header {
    padding: 1.6rem 13rem 1.6rem 1.6rem;
}

.header__source {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    small {
        margin-right: 0.5rem;
    }

    time {
        font-size: 1.2rem;
        color: inherit;
        opacity: 0.7;
        &::before {
            font-size: 0.5625rem;
            content: "\0000a0\002022\0000a0";
            margin-right: 0.25rem;
        }
    }
}

.news__content {
    padding: 0 1.6rem;
    // margin-right: 13rem;
}

.news__footer {
    display: flex;
    a {
        @include flex-center();
        margin: 1rem 1.6rem;
    }
}

.news__icon {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0 0.8rem;
}

.news__content {
    @include tablet() {
        margin-right: 13rem;
    }
    @include desktop() {
        margin-right: 13rem;
    }
}

// Search bar
.search-bar {
    padding: 1rem;
    @include flex-center();
    border-bottom: 1px solid gray;
    box-shadow: 0 0 5px 2px gray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: $color-blue;
}

.form--input {
    width: 50%;

    margin: 0 auto;
    @include desktop() {
        width: 494px;
    }
}

.input {
    padding: 1.5rem 4rem;
    outline: 0;
    border-radius: 10px;
    background-color: #f1f3f4;
    border: 0;
    font-size: 1.5rem;
    transition: 0.3s;
    box-shadow: 0 0 3px 0px gray;
    width: 100%;

    &::placeholder {
        opacity: 0.5;
    }

    &:focus {
        background-color: white;
    }
}

// Nav side bar
.side-bar {
    max-width: 260px;
    display: none;
    margin-top: 10rem;

    @include desktop() {
        display: block;
    }
}

.bar__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;

    &:hover {
        color: $color-blue;
        .bar__icon {
            color: $color-blue;
        }
    }

    &:focus {
        background: rgba(66, 133, 244, 0.149);
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        color: $color-blue;
        .bar__icon {
            color: $color-blue;
        }
    }
}

.bar__icon {
    @include flex-center();
    height: 2.4rem;
    width: 2.4rem;
    margin: 0 1.6rem;
    color: $color-inactive;
}

.bar__title {
    font-weight: 500;
}

// Body content
.body {
    max-width: 768px;
    @include mobile() {
        margin: 6rem auto;
    }
    @include tablet() {
        margin: 6rem auto;
    }
}

// Grid
@mixin grid($gridrow, $gridcol) {
    display: grid;
    grid-template-rows: $gridrow;
    grid-template-columns: $gridcol;
}

@include desktop() {
    .grid--1x2 {
        @include grid(unset, 1fr 3fr);
    }
}
