<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Huy</title>
        <link rel="stylesheet" href="/CSS/normalize.css" />
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/CSS/styles.css" />
        <script
            src="https://kit.fontawesome.com/e31ef2b53f.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <aside class="right-side">
            <div class="grid--column">
                <div class="side--news">
                    <div class="side--news__title">
                        <h2>Fact check</h2>
                    </div>
                    <div class="side--news__content">
                        <article class="side__item">
                            <h4>
                                <a href="#"
                                    >Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Beatae, nobis!</a
                                >
                            </h4>
                            <div class="item__footer">
                                <div class="source">
                                    <a href="#">Snopes.com</a>
                                </div>
                            </div>
                        </article>
                        <article class="side__item">
                            <h4>
                                <a href="#"
                                    >Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Beatae, nobis!</a
                                >
                            </h4>
                            <div class="item__footer">
                                <div class="source">
                                    <a href="#">Snopes.com</a>
                                </div>
                            </div>
                        </article>
                        <article class="side__item">
                            <h4>
                                <a href="#"
                                    >Lorem ipsum dolor sit, amet consectetur
                                    adipisicing elit. Beatae, nobis!</a
                                >
                            </h4>
                            <div class="item__footer">
                                <div class="source">
                                    <a href="#">Snopes.com</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="side--news">
                    <div class="side--news__title">
                        <h2>Beyond the headlines</h2>
                        <small>In-depth reporting on key topics</small>
                    </div>
                    <div class="side--news__content">
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="side--news">
                    <div class="side--news__title">
                        <h2>Spotlight</h2>
                    </div>
                    <div class="side--news__content">
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                        <article class="side__item">
                            <div class="news__header">
                                <h4>
                                    <a class="link link--article" href="#"
                                        >Huy Hung's IPO win big, the company's
                                        now worth $50 billions</a
                                    >
                                </h4>
                                <div class="header__source">
                                    <small>
                                        <a class="link" href="#"
                                            >New York Post</a
                                        >
                                    </small>
                                    <time datetime="2021-02-28T03:42:39Z"
                                        >2 hour ago</time
                                    >
                                </div>
                                <a href="#">
                                    <figure class="link__img">
                                        <img src="/images/avatar.jpg" alt="" />
                                    </figure>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </aside>
        <script src="/js/main.js"></script>
    </body>
</html>
