<div class="news-card">
    <article class="news__header">
        <h3>
            <a class="link link--article" href="#"
                >Huy Hung's IPO win big, the company's now worth $50 billions</a
            >
        </h3>
        <div class="header__source">
            <small>
                <a class="link" href="#">New York Post</a>
            </small>
            <time datetime="2021-02-28T03:42:39Z">2 hour ago</time>
        </div>
    </article>
    <a href="#">
        <figure class="link__img">
            <img src="./images/avatar.jpg" alt="" />
        </figure>
    </a>
    <div class="news__content">
        <ul class="news__list">
            <li class="list__item">
                <a class="link link--article" href="#">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci, exercitationem!
                    </h4>
                </a>
            </li>
            <li class="list__item">
                <a class="link link--article" href="#">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci, exercitationem!
                    </h4>
                </a>
            </li>
            <li class="list__item">
                <a class="link link--article" href="#">
                    <h4>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Adipisci, exercitationem!
                    </h4>
                </a>
            </li>
        </ul>
    </div>
    <div class="news__footer">
        <a class="link link--blue link--article" href="#">
            <img
                class="news__icon"
                src="https://lh3.googleusercontent.com/JDFOyo903E9WGstK0YhI2ZFOKR3h4qDxBngX5M8XJVBZFKzOBoxLmk3OVlgNw9SOE-HfkNgb=w32"
                alt=""
            />View Full Article
        </a>
    </div>
</div>
