<div class="page--title">
    <div class="page__header">
        <div class="header__icon">
            <img
                src="https://lh6.ggpht.com/M-7V3aFj1BEw9EYBVHdLFmjCerci3j2MvsB43zu6-9iu-znG_WuOYrz5urJlStV5n59mW0WY5Q=p-rw"
                alt=""
            />
        </div>
        <div class="header__text">
            <h2>Entertainment</h2>
        </div>
    </div>
    <div class="btn--container">
        <button class="btn--link">
            <i class="far fa-star"></i>
            <span>Follow</span>
        </button>
        <button class="btn--link">
            <i class="fas fa-share-alt"></i>
            <span>Share</span>
        </button>
    </div>
</div>
