<div class="side-bar">
    <div class="bar__item">
        <a class="link bar__link" href="#">
            <div class="bar__icon">
                <i class="fas fa-globe"></i>
            </div>
            <div class="bar__title"><span>Top Stories</span></div>
        </a>
    </div>
    <div class="bar__item">
        <a class="link bar__link" href="#">
            <div class="bar__icon">
                <i class="far fa-star"></i>
            </div>
            <div class="bar__title"><span>Following</span></div>
        </a>
    </div>
    <div class="bar__item">
        <a class="link bar__link" href="#">
            <div class="bar__icon">
                <i class="fas fa-globe-americas"></i>
            </div>
            <div class="bar__title"><span>World</span></div>
        </a>
    </div>
    <div class="bar__item">
        <a class="link bar__link" href="#">
            <div class="bar__icon">
                <i class="fas fa-film"></i>
            </div>
            <div class="bar__title"><span>Entertainment</span></div>
        </a>
    </div>
    <div class="bar__item">
        <a class="link bar__link" href="#">
            <div class="bar__icon">
                <i class="fas fa-volleyball-ball"></i>
            </div>
            <div class="bar__title"><span>Sports</span></div>
        </a>
    </div>
</div>
